body{
	text-align: center;
	background-color: black;
    background-repeat:no-repeat;
    color: white;
    background-image: url("https://i.ytimg.com/vi/hq9qRH2xmP4/maxresdefault.jpg");
    background-repeat: repeat;
    background-size: 22%;
    background-position: center;
    text-shadow: 0 0 30px #FF0000, 0 0 30px #0000FF;
}

h1{
	background-color: black;
	font-size:60px;
	padding: 10px;
    margin: auto;

}

h2{
	background-color: black;
	font-size:40px;
    margin: auto;
}

form{
	
	background: black;
	display: block;
}

input[type="button"] {
	margin-top: 15px;

}

#countdown-wrapper > div {
	font-size: 30px;
	padding: 10px;
	border-radius: 3px;
	background: lightslategray;
	display: inline-block;
    margin-top: 15%;
    height: 70px;



}

.time-wrapper {
	padding: 15px
	border-radius: 3px;
	display: inline-block;
}

.time-text{
	padding-top: 5px;
	font-size:20px;
	display: inline-block;
}